/* タブレット */
@media all and (max-width: 1000px) {
  .top {
    text-align: center;
  }

  .main-image {
    width: 100%;
    height: auto;
  }

}

/* スマホ */
@media all and (max-width: 670px) {
    .header-list li {
      display:none;
    }

    .menu-icon {
      display:block;
    }

    .main-image {
      width:100%;
      height: auto;
    }

    .container h1 {
      font-size: 20px;
    }

    .container p {
      font-size: 14px
    }

    .container h1,
    .container p,
    .container a {
      width:100%;
      height: auto;
    }

    .contact-form {
      padding-bottom: 30px;
    }

    .contact-form h3,
    .contact-form input,
    .contact-form textarea {
      width:100%;
      height: auto;
    }

    .contact-form .btn {
      padding:8px;
    }

    .sub.title {
      padding-bottom: 10px;
    }
}
